/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #271d1d;
    
    
}


.containerMain{
    padding: 5%;
    display: flex;
    align-items: start;
    font-size: 100% ;
    background-image: url('images/rm222batch5-mind-03.jpg'); /* Replace with your image file path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main img {
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 10%; /* Optional: Add border-radius for a circular image */
    filter: drop-shadow(-10px -10px 20px rgba(5, 30, 141, 0.715));
}
main h1 {
    text-align:start;
    font-family:'Shadows Into Light',Arial;
    margin-left: 20%;
    color: #161515;
}

main p {

    font-family:'Shadows Into Light';
    margin-left: 10%;
    margin-top: 3%;
    color: #161515;
    
    
}

@media screen and (min-width:800px){
    .about-paragraph{
        padding:0 150px;
    }
}
.container {
    
    padding-right: 10%;
    
    
    
    
}

nav {
    color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    float: right;
    

}
nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row; /* Ensures horizontal alignment */
    
}


nav ul li {

    display: inline-block;
    list-style: none;
    margin: 20px 10px;
}

nav ul li a {
    color: #fcfcfc;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::before{
    content: "";
    position:absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, #65d555, #3205e7, #a80808);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;

    

}

nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;

}

.col-2-main{

    padding: 5%;
}

.about{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Shadows Into Light',Arial;
    margin-top: 4%;
    

}
.about h1 {

    font-family:'Shadows Into Light',Arial;
    
    
}
.projectsSection{

    background-color: #271d1d;
}
.projectsSection h1 {

    color: #fcfcfc;
    font-family:'Shadows Into Light',Arial;
    text-align: center;

    
}
.projectList {
    display: grid;
    grid-template-columns:  repeat(2, 35%);;
    grid-gap: 60px;
    margin: 5%;
    margin-left: 20%;
    
    
    
    
    
}

.projectList div {
    border-radius: 5%;
}



.work1 {
    background-image: url('images/secondword.png');
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column-start: 1;
    
   
    
}

.work2 {
    background-image: url('images/recipebot2.png');
    aspect-ratio: 1;
    background-size:145%;
    grid-column-start: 2;
   
    
}
.work3 {
    background-image: url('images/connect4-3.png');
    aspect-ratio: 1;
    background-size: cover;
    grid-column-start: 1 ;
   
}
.titles{
    display: flex;
   
    
}
.titles_container{
   margin-top: 10%;
}
.tab_links{
    cursor: pointer;
    position: relative;
    margin-right: 10%;
}
.tab_links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #a80808;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab_links.active-link::after{
    width: 50%;
}


#about{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 10px; /* Adjust the gap between items as needed */
    margin-bottom: 10%;
    background-color: #2d2b65a4;
    color: #fcfcfc;
}

.tab-contents{
    display: none;
    margin-top: 5%;
}
.tab-contents ul li{
    list-style: none;
    margin: 3%;
}
.tab-contents.active{
    display: block;
}

.tab-contents ul li span{
    color: #a80808;
}
